---
import SeasonItem from "./SeasonItem.astro";

export interface SeasonTableProps {
    seasons: any[];
}

const { seasons } = Astro.props as SeasonTableProps;

const filteredSeasons = seasons?.sort((a, b) => a.seasonNumber - b.seasonNumber);
---
<table class="w-10 divide-y divide-gray-200 mt-6">
    <thead class="bg-gray-50">
        <tr>
            <th
                scope="col"
                class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
                Temporada
            </th>
            <th
                scope="col"
                class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
                Episodios
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        {filteredSeasons?.map((season) => (
            <SeasonItem key={season.id} season={season} />
        ))}
    </tbody>
</table>
