---
import { Image } from 'astro:assets';

export interface Props {
  id: string;
  title: string;
  content: string;
  stars: number;
}

const {
  id,
  title,
  content,
  stars,
} = Astro.props;
---
<div class="mb-6 p-4 border border-gray-200 rounded-lg">
  <h3 class="text-xl font-semibold mb-2">{title}</h3>
  <p class="mb-2">{content}</p>
  <p>
    
    <strong>Calificación: {" "}
    <Image
      src="/tomatoe.svg"
      alt="tomatoe"
      width={30}
      height={30}
      class="inline-block self-center items-center hover:animate-spin"
    /> {" "}</strong> {stars}
  </p>
</div>